@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url('https://fonts.googleapis.com/css?family=Abel|Dosis|VT323');
// @import "../../node_modules/foundation-sites/scss/foundation";

// @include foundation-flex-grid;
// @include foundation-flex-classes;
// @include foundation-everything;


/* ================================= 
   ELEMENT STYLES
==================================== */


// $blue : #4286f4;
// $red : #f93;

// @mixin app($color_1, $color_2) {
//      h2 {color: $color_1;}
//      h3 {color: $color_2;}
//      p {
//          font-style: italic;
//          color: green;
//      }
// }

// .application   {
//    @include app($blue, $red);
// }

* {
   box-sizing: border-box;
   font-family: 'Abel', sans-serif;
}
html {
   height: 100%;
}

body {
   margin: 0;
   background-color: #fffff;
   color: #444;
   margin: 0;
   height: 100%;
   font-family: 'Roboto', sans-serif;
}

h1,h2,ul {
   margin: 0;
   padding: 0;
}
h2 {
   color: #404040;
   font-size: 1.6em;
   margin-bottom: 1.25em;
}
h3 {
   margin-bottom: 1.5em;
}
ul {
   list-style-type: none;
}
a {
   text-decoration: none;
   color: #3b80d1;
}
hr {
   border: 0;
   height: 0;
   margin: 2.3em 0 2em 0;
   border-top: 1px solid rgba(0, 0, 0, .1);
}

// ::-webkit-scrollbar {
//       width: 12px;
// }
 
// ::-webkit-scrollbar-track {
//       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//       border-radius: 10px;
// }
 
// ::-webkit-scrollbar-thumb {
//       border-radius: 10px;
//       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
// }
/* FORM & BUTTON STYLES -------- */

.home a,
input,
button {
   padding: .5em;
   font-size: .9em;
   margin-right: 10px;
   border: none;
   border: solid 1px #ccc;
   outline: none;
}
button {
   color: white;
   background: #4188dc;
   padding-left: 1em;
   padding-right: 1em;
   cursor: pointer;
   border-color: rgba(0,0,0, .1);
}

.back-button {
   margin-bottom: 10px;
}
// ==== PAGE LAYOUT AND STYLES ====//
.title {
    color: #222;
}

.container {
   width: 100%;
   height: 100% !important;
   max-width: 100%;
   position: absolute;
   top: 0;
   left: 0; 
   background: #fff;
   box-shadow: 0 3px rgba(0,0,0, .1);
   overflow: scroll;
}

// ==== LEFT ====//
.left {
   position: relative;
   height: 100%;
   width: 22%;
   top: 0;
   left: 0;
   border-right: 1px solid #555;
   float: left;
   // background-color: #111;
}
// ==== RIGHT ====//
.right {
   position: relative;
   height: 100%;
   width: 22%;
   top: 0;
   right: 0;
   border-left: 1px solid #555;
   float: right;
}

.top {
   position: relative;
   width: 100%;
   height: 270px;
   border-bottom: 1px solid #555;
}

.center {
   // height: 100%;
   width: 56%;
   float: left;
   position: relative;
   // text-align: center;
   padding-left: 25px;
   top: 0;
   right: 0;
   overflow-y: hidden;
   background-color: #ffffff;
}

.reading_container {
   margin-top: 20px;
}

.single_card_reading {
   padding-right: 30px;
   height: 550px;
   overflow-y: scroll;
}

.card_image{
   margin-bottom: 30px;
   float: right;
   border: 2px solid #222;
   position: relative;
   top: 10px;
   width: 303px;
   height: 530px;
}

.card_image_reversed {
   -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   -moz-transform: rotate(180deg);
   transform: rotate(180deg);
}

svg {
   height: 0px;
   width: 0px;
}
   
.cards {

   height: 800px;
   // overflow-y: scroll;

   p {
   color: #555 !important;
    }
}

.full_card {
   cursor: pointer;
   opacity: .7;
   width: 60px;
   margin: 2px;
}

.full_card:hover {
   opacity: 1;
}

.fcr_container {
   margin-bottom: 100px;
}

header {
   background: #edeff0;
}
.main-content {
   padding: 1em 1em;
}

.selected {
   // border: 4px solid #ccc;
   opacity: 1;
   pointer-events: none;
}

.group:after {
   content: "";
   display: table;
   clear: both;
}
.course {
   margin-bottom: 1em;
}

.type {
   color: #222;
}

// ==== IMAGES ==== //

.course-img {
   width: 70px;
}
.teacher-img {
   width: 100%;
   /* border-radius: .3em; */
}
.not-found {
   text-align: center;
}

/* MAIN NAV -------- */

.main-nav a {
   font-size: .95em;
   color: #ccc;
   text-align: center;
   text-transform: uppercase;
   display: block;
   padding: 1em;
   transition: .2s;
}
.main-nav a:hover,
.main-nav .active {
   color: #fff;
   background: #3b80d1;
}

.main-nav li {
      width: 100%;
      background-color: #fff;
      cursor: pointer;
}

// ==== LOADER ===== //

      .pentacle {
         width: 100px;
         animation: spin linear 4s; 
         animation-iteration-count: infinite;
      }

      @-moz-keyframes spin { 100% { -moz-transform:rotate(360deg); transform:rotate(360deg)   ;}}
      @-webkit-keyframes spin { 100% { -webkit-transform:rotate(360deg); transform:rotate(360deg) ;}}
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) ;}}

/* COURSE NAV -------- */

.course-nav li {
   display: inline-block;
}
.course-nav li + li {
   margin-left: .6em;
}
.course-nav a {
   font-size: .85em;
   color: #7d7d7d;
   padding: .2em .8em;
   background: #eaebeb;
   transition: .2s;
}
.course-nav a:hover,
.course-nav a.active {
   color: #fff;
   background: #39add1;
}

/* ICONS -------- */

.icn-logo {
   background: #54606b;
   color: #fff;
}
.icn-logo i {
   font-size: 2.45em;
   line-height: 0;
   margin-top: 30px;
}
.icn-error {
   font-size: 3.2em;
   margin-bottom: .25em;
}

/* ===== MEDIA QUERIES ===== */

@media (min-width: 0) and (max-width: 768px) { 
   body {
      padding-top: .8em;
   }
   .home a {
      border-color: transparent;
   }
    .icn-logo {
       display: block;
       width: 100%;
       text-align: center;
       padding-bottom: 4px;
    }
    .main-nav a {
       border-top: 2px solid transparent;
       border-bottom: 2px solid transparent;
    }
    .main-nav a:hover {
       border-color: rgba(0,0,0, .1);
    }
    .courses h2 {
       margin-bottom: 0;
    }
    .course-nav {
       display: block;
       margin: 1.5em 0 3.2em;
    }
    .home a,
    input,
    button {
       display: block;
       width: 140px;
       margin-bottom: 1em;
    }

    .left {
      position: relative;
      height: 160px;
      width: 100%;
      top: 0;
      left: 0;
      border-right: 1px solid #555 !important;
      float: left;
      background-color: #111;
    }

    .center {
      height: 100%;
      width: 100%;
      position: relative;
      right: 0;
      top: 1px;
      overflow-y: hidden;
      background-color: #fff;
      padding-bottom: 150px;
    }

    .main-nav {
      border-bottom: 1px solid #ccc;
    }

    .card_image, .card_image_reversed {
      width: 203px;
      height: 330px;
      float: left;
    }

    .upright_description {
      padding-bottom: 40px;
    }

    .upright_description:last-of-type {
      padding-bottom: 50px;
    }

    .single_card_reading {
      clear: both;
    }

    .fcr_container {
      margin-bottom: 0;
    }
}
@media (min-width: 769px) {
   body {
      padding-top: 3em;
   }
   .home a {
      border-color: #3b80d1;
   }

   .home {
      background-color: #222;
   }
   .media img,
   .media > div,
   .teacher {
      float: left;
   }
   .media > div {
      width: 85.1%;
      margin-left: 1.5em;
   } 
   .teacher {
      width: 48.73%;
      margin-bottom: 1.5em;
   }
   .teacher + .teacher {
      margin-left: 2.54%;
   }
   .teacher:nth-child(2n+3) {
      clear: left;
      margin-left: 0;
   }
   /* MAIN NAV -------- */
   .icn-logo {
      margin-right: auto;
      padding: 0 2em;
   }
   header,
   .main-nav {
      display: flex;
      flex-wrap: wrap;
   }
   .main-nav a {
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      padding: 1.25em 1.5em;
   }
   .main-nav a:hover {
      border-color: rgba(0,0,0, .1);
   }
   /* COURSE NAV -------- */
   .course-nav {
      float: right;
   } 
   .courses h2 {
      float: left;
   }
}



@media only screen and (max-width: 1065px) {
    .cards {
  overflow-y: scroll;
    }
}